@model  System.Web.Helpers.Chart

<div id="patientList">
    @{
/*
var myChart = new Chart(width: 600, height: 400)
.AddTitle("Chart Title")
.AddSeries(chartType: "Line",
name: "Employee",
xValue: Model.dataSets.ElementAt(Model.xVal).mag,
yValues: Model.dataSets.ElementAt(Model.yVal).mag);
*/
    Model.Write();
}
</div>
